@using PonteAlta.Persistencia.Models;
@model List<TabelaPreco>

<table id="tblTabelaPreco" class="table table-striped table-hover table-condensed" width="100%" height="200px">
    <thed>
        <tr>
            <th>#</th>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thed>
    <tbody></tbody>
</table>